[submodule "act"]
	path = act
	url = https://github.com/tonyzhaozh/act
	branch = robomimic
[submodule "LIBERO"]
	path = LIBERO
	url = git@github.com:weiweigu1998/LIBERO.git
[submodule "robocasa"]
	path = robocasa
	url = https://github.com/robocasa/robocasa.git
[submodule "robosuite"]
	path = robosuite
	url = https://github.com/ARISE-Initiative/robosuite.git
